.Rproj.user
.Rhistory
.RData
.Ruserdata

/contract
/core_assessment
/core_reporting
/course_add_template.txt
/course_changes_proposals
/links.Rmd
/meetings
/notes.Rmd
/semesters
/span_port_assessment
/upd_notes
/upd.Rproj
/what_to_do_with_spanish_major.txt
/broken_links.txt
