.Rproj.user
.Rhistory
.RData
.Ruserdata

/contract
/core_assessment
/core_reporting
/course_add_template.txt
/course_changes_proposals
/links.Rmd
/meetings
/notes.Rmd
/semesters

/span_port_assessment/span_port_assessment.Rproj
/span_port_assessment/2122
/span_port_assessment/2223
/span_port_assessment/2324
/span_port_assessment/course_list
/span_port_assessment/data
/span_port_assessment/docs
/span_port_assessment/lextale_ru
/span_port_assessment/mods

/upd_notes
/upd.Rproj
/what_to_do_with_spanish_major.txt
/broken_links.txt
